@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
[class^="_icon-"],
[class*=" _icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
	content: "\e900";
	/* background-color: #fff; */
}

._icon-arrow-link:before {
	content: "\e901";
}

._icon-cart:before {
	content: "\e902";
}

._icon-favorite:before {
	content: "\e903";
}

._icon-location:before {
	content: "\e904";
}

._icon-phone:before {
	content: "\e905";
}

._icon-search:before {
	content: "\e906";
}

._icon-send:before {
	content: "\e907";
}

._icon-share:before {
	content: "\e908";
}

._icon-strikethrough:before {
	content: "\ea65";
}
