/* USER VARIABLES SECTION */

:root {
	/* 						==Media== 						*/
	--minWidth: 320px;
	--maxWidth: 1440px;
	--maxWidthContainer: 1270px;
	--md1: var(--maxWidthContainer) + 15px;
	--md2: 991.98px;
	--md3: 767.98px;
	--md4: 479.98px;
	/* ---------------------------------------------*/
	/* 						==Color== 						*/
	--color1: #e89f71;
	--color2: #898989;
	--color3: #616161;
	/* ---------------------------------------------*/
	/* 						==Text== 						*/
	--mainColorText: #3a3a3a;
	--regular-text: 16px;
	--lineheight: 1.65;
	/* ---------------------------------------------*/
	/* 						==Fonts== 						*/
	--userfont: "Gilroy";
	--systemfont: ;
	/* ---------------------------------------------*/
}
/* ==================================================================== */

/* FONTS LOAD SECTION */
@font-face {
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url("../fonts/icons.woff") format("woff");
	font-family: "icons";
	font-weight: 400;
	font-style: normal;
}
/* ==================================================================== */

/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}
::selection {
	color: #fff;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}
input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	/* line-height: var(--lineheight); */
	color: var(--text);
	background: #f9f1e7;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"] {
	max-width: var(--maxWidthContainer);
	padding: 0 15px; /* При добавлении отступов нужно добавить 30px к контейнеру */
	margin: 0 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
/* ==================================================================== */
/* USER STYLES */

/* ===== Header ===== */
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.header__wrapper {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
}
.header__body {
	display: flex;
	align-items: center;
	padding: 5px 0px;
	min-height: 125px;
	position: relative;
}
.header__main {
	display: flex;
	flex: 0 0 calc(494 / 1240 * 100%);
	align-items: center;
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(29 / 24 * 100%);
	color: #000000;
	position: relative;
	z-index: 5;
}

.header__menu {
}
.menu {
	flex: 0 1 420px;
}
.menu__body {
}
.menu__list {
}
.menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px 3px;
	padding: 5px 0;
	position: relative;
}
.menu__link {
	font-weight: 500;
	color: inherit;
	transition: color 0.3s ease 0s;
}
.menu__arrow {
	margin: 0px 0px 0px 8px;
	transition: all 0.3s ease 0s;
	font-size: 8px;
}
.menu__sub-list {
	position: relative;
	background-color: var(--color1);
	padding: 15px;
	flex: 1 1 100%;
}
.menu__sub-item {
}
.menu__sub-item:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.menu__sub-link {
	color: #fff;
	line-height: 120%;
}

.header__search {
}
.search-form {
	max-width: 473px;
}
.search-form._active .search-form__item {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.search-form._active .search-form__icon {
	color: var(--color1);
}
.search-form__icon {
	position: relative;
	z-index: 5;
	font-size: 22px;
	color: #262f56;
}
.search-form__item {
	background-color: #fff;
	display: flex;
	align-items: center;
}
.search-form__btn {
	flex: 0 0 45px;
	height: 45px;
	font-size: 15px;
	color: #333;
}
.search-form__input {
	font-size: 14px;
	width: 100%;
	padding: 0px 20px 0px 0px;
	color: var(--color3);
}
.header__actions {
}

.actions-header {
	position: relative;
	z-index: 5;
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	gap: 30px;
}
.actions-header__item {
}
.actions-header__item_favorites {
	color: #262f56;
	font-size: 24px;
	transition: color 0.3s ease 0s;
}
.actions-header__item_user {
	overflow: hidden;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.cart-header {
}
.cart-header__icon {
	color: #262f56;
	font-size: 24px;
	transition: color 0.3s ease 0s;
	position: relative;
	display: block;
}
.cart-header__icon span {
	position: absolute;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	background-color: var(--color1);
	color: #fff;
	font-size: 12px;
}
.cart-header__body {
}
.cart-header__list {
}
.cart-list {
}
._ibg {
}
.icon-menu {
}
