/* USER VARIABLES SECTION */

:root {
	/* 						==Media== 						*/
	--minWidth: 320px;
	--maxWidth: 1440px;
	--maxWidthContainer: 1270px;
	--md1: var(--maxWidthContainer) + 15px;
	--md2: 991.98px;
	--md3: 767.98px;
	--md4: 479.98px;
	/* ---------------------------------------------*/
	/* 						==Color== 						*/
	--color1: #e89f71;
	--color2: #898989;
	--color3: #616161;
	--swiper-theme-color: ;
	/* ---------------------------------------------*/
	/* 						==Text== 						*/
	--mainColorText: #3a3a3a;
	--regular-text: 16px;
	--lineheight: 1.65;
	/* ---------------------------------------------*/
	/* 						==Fonts== 						*/
	--userfont: "Gilroy";
	--systemfont: ;
	/* ---------------------------------------------*/
}
/* ==================================================================== */

/* FONTS LOAD SECTION */
@font-face {
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
	font-family: "Gilroy";
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url("../fonts/icons.woff") format("woff");
	font-family: "icons";
	font-weight: 400;
	font-style: normal;
}
/* ==================================================================== */

/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}
::selection {
	color: #fff;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}
input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	/* line-height: var(--lineheight); */
	color: var(--text);
	height: 100%;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: var(--maxWidthContainer);
	padding: 0 15px; /* При добавлении отступов нужно добавить 30px к контейнеру */
	margin: 0 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
/* ==================================================================== */
/* USER STYLES */

/* ===== Header ===== */
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.header__wrapper {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
}
.header__body {
	display: flex;
	align-items: center;
	padding: 5px 0px;
	min-height: 125px;
	position: relative;
}
.header__main {
	display: flex;
	flex: 0 0 calc(494 / 1240 * 100%);
	align-items: center;
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(29 / 24 * 100%);
	color: #000000;
	position: relative;
	z-index: 5;
}

.header__menu {
}
.menu {
	flex: 0 1 420px;
}
.menu__body {
}
.menu__list {
}
.menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px 3px;
	padding: 5px 0;
	position: relative;
}
.menu__link {
	font-weight: 500;
	color: inherit;
	transition: color 0.3s ease 0s;
}
.menu__arrow {
	margin: 0px 0px 0px 8px;
	transition: all 0.3s ease 0s;
	font-size: 8px;
}
.menu__sub-list {
	position: relative;
	background-color: var(--color1);
	padding: 15px;
	flex: 1 1 100%;
}
.menu__sub-item {
}
.menu__sub-item:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.menu__sub-link {
	color: #fff;
	line-height: 120%;
}

.header__search {
}
.search-form {
	max-width: 473px;
}
.search-form._active .search-form__item {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.search-form._active .search-form__icon {
	color: var(--color1);
}
.search-form__icon {
	position: relative;
	z-index: 5;
	font-size: 22px;
	color: #262f56;
}
.search-form__item {
	background-color: #fff;
	display: flex;
	align-items: center;
}
.search-form__btn {
	flex: 0 0 45px;
	height: 45px;
	font-size: 15px;
	color: #333;
}
.search-form__input {
	font-size: 14px;
	width: 100%;
	padding: 0px 20px 0px 0px;
	color: var(--color3);
}
.header__actions {
}

.actions-header {
	position: relative;
	z-index: 5;
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	gap: 30px;
}
.actions-header__item {
}
.actions-header__item_favorites {
	color: #262f56;
	font-size: 24px;
	transition: color 0.3s ease 0s;
}
.actions-header__item_user {
	overflow: hidden;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.cart-header {
}
.cart-header__icon {
	color: #262f56;
	font-size: 24px;
	transition: color 0.3s ease 0s;
	position: relative;
	display: block;
}
.cart-header__icon span {
	position: absolute;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	background-color: var(--color1);
	color: #fff;
	font-size: 12px;
}
.cart-header__body {
}
.cart-header__list {
}
.cart-list {
}
.icon-menu {
	display: none;
}

/* ===== Footer ===== */
.footer {
}
.footer__container {
}
.footer__body {
	border-top: 1px solid #d8d8d8;
	display: grid;
	grid-template-columns: 250px 1fr 290px;
	padding-top: 80px;
	padding-bottom: 60px;
	column-gap: 80px;
}
.footer__main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.footer_logo {
	margin: 0px 0px 16px 0px;
}
.footer-title {
	font-size: 24px;
	color: #000;
	line-height: calc(29 / 24 * 100%);
	font-weight: 700;
}
.footer__text {
	color: var(--color3);
	line-height: 150%;
}
.footer__text:not(:last-child) {
	margin: 0px 0px 1em 0px;
}
.footer__contacts {
}
.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.contacts-footer__item {
	display: inline-flex;
	align-items: center;
	line-height: 150%;
	color: var(--color3);
	transition: color 0.3s ease 0s;
}
.contacts-footer__item span {
	margin: 0px 8px 0px 0px;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 1em 0px;
}
.contacts-footer__item:hover {
	color: var(--color1);
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__column {
}
.menu-footer__title {
	cursor: default;
}
.menu-footer__title span {
	display: none;
	opacity: 0;
}
.menu-footer__list {
}
.menu-footer__list li:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.menu-footer__link {
	color: var(--color3);
	transition: color 0.3s ease 0s;
	line-height: 120%;
	font-weight: 500;
}
.footer__subscribe {
}
.subscribe {
}
.subscribe__title {
	margin-bottom: 1em;
}
.subscribe__form {
	display: flex;
	position: relative;
}
.subscribe__form._error::after {
	content: "Error";
	position: absolute;
	top: 100%;
	margin: 3px 0px 0px 0px;
	left: 12px;
	color: red;
	font-size: 12px;
}
.subscribe__input {
	width: 100%;
	padding: 0 12px;
	background: #f3f5f7;
	font-size: 16px;
	color: #828282;
}
._required {
}
.subscribe__button {
	flex: 0 0 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	background-color: var(--color1);
	color: #fff;
	margin: 0px 0px 0px 4px;
	transition: background-color 0.3s ease 0s;
}

/* ===== Page#1 ===== */
.page {
}
.page__main-slider {
	background: #fcf8f3;
}
.main-slider {
}
.main-slider__container {
	position: relative;
}
.main-slider__body {
	padding: 140px 0px 0px 0px;
	position: relative;
	z-index: 2;
}
.main-slider__content {
	flex: 0 0 calc(494 / 1240 * 100%);
}
.main-slider__slider {
	flex: 1 1 auto;
	min-width: 0; /* если слайдер находить внутри flex или является flex */
}
.content-main {
	position: relative;
	z-index: 5;
	padding: 15px;
	background: rgba(255, 255, 255, 0.72);
}
.content-main__title {
	color: #3a3a3a;
	font-size: 56px;
	font-weight: 700;
	line-height: 120%;
}
.content-main__title:not(:last-child) {
	margin: 0px 0px calc(16 / 56 * 1em) 0px;
}
.content-main__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: var(--color2);
}
.content-main__text:not(:last-child) {
	margin: 0px 0px calc(48 / 20 * 1em) 0px;
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	text-align: center;
	transition: all 0.3s ease 0s;
	min-height: 48px;
}
.content-main__button {
	min-height: 78px;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #fff;
	background: var(--color1);
	width: 100%;
}

.slider {
}
.slider__controls {
	margin: 0px 0px 20px 0px;
}
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.controls__dotts {
}
.controls__arrows {
}
/* Slider-Swiper */
.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px);
	column-gap: 8px;
}
.slider-arrow {
	border-radius: 50%;
	height: 48px;
	font-size: 12px;
	cursor: pointer;
	color: var(--color1);
	background: rgba(232, 159, 113, 0.3);
	transition: all 0.3s ease 0s;
}
.slider-arrow_white {
	background: #fff;
	box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}
.slider-arrow_prev {
	transform: rotate(90deg);
}
.slider-arrow_next {
	transform: rotate(-90deg);
}
.swiper-pagination-bullets {
	display: flex;
	flex-wrap: wrap;
}
.swiper-pagination-bullet {
	cursor: pointer;
	flex: 0 0 27px;
	height: 27px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px 0px;
	background: inherit;
}
.swiper-pagination-bullet:not(:last-child) {
	margin-right: 12px;
}
.swiper-pagination-bullet::after {
	content: "";
	width: 11px;
	height: 11px;
	background: #d8d8d8;
	border-radius: 50%;
	transition: all 0.3s ease 0s;
}
.swiper-pagination-bullet::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid var(--color1);
	transition: transform 0.3s ease 0s;
	transform: scale(0);
}
.swiper-pagination-bullet-active {
}
.swiper-pagination-bullet-active::after {
	background: var(--color1);
}
.swiper-pagination-bullet-active::before {
	transform: scale(1);
}
.swiper-pagination-bullet:only-child {
	display: inline-block !important;
}
.slider__body {
}
.swiper {
}
.slider__wrapper {
}
.swiper-wrapper {
}
.slider-slide {
}
.swiper-slide {
}
.slider__image {
}
.slider__content {
}
.slider__title {
}
.slider__text {
}
.slider__price {
}
.swiper-button-lock {
	display: inline;
}
/* ================== */
