/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
	[class*="__container"] {
	}
}

/* lg <= Extra large (xl) */
@media (max-width: 1270px) {
	[class*="__container"] {
		/* max-width: 1100px; */
	}
	.header__search {
		padding-right: 10px;
	}
	.footer__body {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 290px;
	}
	.footer__main {
		grid-column: span 2;
		margin-bottom: 40px;
	}
	.content-main__title {
		font-size: 46px;
	}
	.content-main__text {
		font-size: 18px;
	}
	.content-main__button {
		min-height: 65px;
		font-size: 18px;
	}
	.main-slider__slider {
		height: 553px;
	}
	.slider__image {
		padding: 0px 0px 52% 0px;
	}
}

/* md <= Large (--md2) */
@media (max-width: 991.98px) {
	[class*="__container"] {
		/* max-width: 750px; */
	}
	.actions-header {
		gap: 30px;
	}
	.header__search {
		padding-right: 32px;
	}
	.search-form__item {
		box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
		position: absolute;
		width: 100%;
		left: 0;
		top: -100%;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
	.header__main {
		flex: 1 1 auto;
	}
	.header__body {
		min-height: 80px;
	}
	.footer__body {
		padding-top: 50px;
		padding-bottom: 45px;
		column-gap: 50px;
		display: block;
	}
	.footer__menu {
		margin-bottom: 40px;
	}
	.main-slider__body {
		padding: 80px 0px 0px 0px;
	}
	.content-main__title {
		font-size: 40px;
	}
	.content-main__text {
		font-size: 18px;
	}
	.content-main__button {
		min-height: 60px;
		font-size: 20px;
	}
	.slider__content {
		padding: 20px;
	}
	.slider__title {
		font-size: 26px;
	}

	.slider__price {
		font-size: 18px;
	}
	.main-slider__slider {
		height: 523px;
	}
	.slider__image {
		/* height: 453px; */
		padding: 0px 0px 63% 0px;
	}
	.slider {
		align-items: stretch;
		flex-direction: column-reverse;
	}
	.slider__body {
		position: unset;
	}
	.controls__dotts {
		z-index: 10;
		justify-content: center;
	}
	.slider-arrows {
		display: none;
	}
	.main-slider__content {
		margin: 0 -15px;
	}
	.slider__body {
		margin: 17px -15px;
	}
	.slider__controls {
		margin: 10px 0px 20px 0px;
	}
	.content-main__button {
		display: none;
	}
	.content-main__button._open {
		display: block;
		display: flex;
		text-align: center;
		align-self: center;
	}
	.advantages__item {
		min-width: 280px;
	}
	.advantages {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.main-title {
		font-size: 30px;
	}
}

/* sm <= Medium (--md3) */
@media (max-width: 767.98px) {
	[class*="__container"] {
		/* max-width: none; */
		/* padding: 0 10px; */
	}
	.header__search {
		padding-right: 15px;
	}
	.actions-header__item_user {
		width: 33px;
		height: 33px;
	}
	.header__body {
		min-height: 50px;
	}
	.search-form {
		margin-right: 15px;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 0;
		left: -100%;
		background-color: #fcf8f3;
		transition: left 0.3s ease 0s;
		padding: 70px 15px 30px 15px;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 50px;
		top: 0;
		left: -100%;
		background-color: #fcf8f3;
		transition: left 0.3s ease 0s;
		z-index: 2;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body._active::before {
		left: 0;
	}
	.menu__arrow {
		font-size: 14px;
	}
	.menu__list > .menu__item._active .menu__sub-list {
		opacity: 1;
	}
	.menu__link {
		font-size: 24px;
		font-weight: 600;
	}
	.menu__sub-list {
		/* position: relative; */
		background-color: var(--color1);
		transition: all 0.4s ease 0s;
		will-change: max-height;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 6px 20px;
		opacity: 0;
		margin: 0px -15px;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #fff;
	}
	.menu__link {
		margin: 0px 0px 10px 0px;
	}
	.menu__sub-item:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	._accordion._active .menu__arrow {
		transform: rotate(-180deg);
	}
	.icon-menu {
		margin-left: 20px;
		position: relative;
		display: block;
		flex: 0 0 30px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.icon-menu._active span:first-child {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.icon-menu._active span:last-child {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.footer-title {
		font-size: 20px;
	}
	.footer__body {
		padding-top: 30px;
		padding-bottom: 30px;
		column-gap: 30px;
	}
	.footer__main {
		margin-bottom: 30px;
	}
	.menu-footer__column._active .menu-footer__list {
		opacity: 1;
	}
	.menu-footer__column {
		margin-bottom: 5px;
		position: relative;
	}
	.menu-footer__list {
		/* position: relative; */
		transition: all 0.4s ease 0s;
		will-change: max-height;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 6px 15px;
		opacity: 0;
		margin: 0px -15px;
	}
	.menu-footer__link {
		font-size: var(--regular-text);
		color: var(--color3);
	}
	.menu-footer__title {
		margin: 0px 0px 5px 0px;
	}
	.menu-footer__link:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	._accordion .menu-footer__title {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	._accordion .menu-footer__title span {
		display: inline-block;
		opacity: 1;
		font-size: 12px;
		transition: transform 0.3s ease 0s;
	}
	._accordion._active .menu-footer__title span {
		transform: rotate(-180deg);
	}
	.main-slider__body {
		padding: 50px 0px 0px 0px;
	}
	.content-main__title {
		font-size: 30px;
	}
	.content-main__text {
		font-size: 16px;
	}
	.content-main__button {
		min-height: 50px;
		font-size: 18px;
	}
	.slider__title {
		font-size: 24px;
	}

	.slider__price {
		font-size: 16px;
	}
	.main-slider__slider {
		height: 323px;
	}
	.slider__image {
		/* height: 253px; */
		padding: 0px 0px 63% 0px;
	}
	.slider__content {
		min-width: 195px;
		padding: 14px;
		right: 20px;
		bottom: 20px;
	}
	.slider__title {
		font-size: 18px;
	}
	.slider__text {
		display: none;
	}
	.slider__price {
		font-size: 16px;
	}
	.header {
		min-height: 5px;
	}
	.slider__body {
		width: 400px;
	}
	.advantages__icon {
		padding: 0px 15px 0px 0px;
	}
	.advantages__item {
		grid-template: auto auto / auto 1fr;
	}
	.advantages {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.item-product__labels {
		right: 16px;
		top: 16px;
	}
	.item-product__title {
		font-size: 22px;
	}
	.item-product__price {
		font-size: 18px;
	}
}

/* xs <= Small (--md4) */
@media (max-width: 479.98px) {
	[class*="__container"] {
	}
	.actions-header {
		gap: 20px;
	}
	.search-form {
		margin-right: 5px;
	}
	.icon-menu {
		margin-left: 10px;
	}
	.content-main__title {
		font-size: 24px;
	}
	.content-main__text {
		font-size: 16px;
	}
	.content-main__button {
		min-height: 45px;
		font-size: 16px;
	}
	.slider__title {
		font-size: 22px;
	}

	.slider__price {
		font-size: 16px;
	}
	.slider__body {
		width: 290px;
	}
	.main-slider__slider {
		height: 223px;
	}
	.slider__image {
		/* height: 153px; */
		padding: 0px 0px 54% 0px;
	}
	.slider__content {
		min-width: 100px;
		padding: 8px;
		right: 10px;
		bottom: 10px;
	}
	.slider__title {
		font-size: 12px;
	}
	.slider__price {
		font-size: 8px;
	}
	.slider__price span {
		font-size: 10px;
	}
	.advantages {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
	[class*="__container"] {
	}
}

/* Small (sm) */
@media (min-width: 478px) {
	[class*="__container"] {
	}
}

/* Medium (--md3) */
@media (min-width: 768px) {
	[class*="__container"] {
	}
	.menu__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.menu__sub-list {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		transform: translate(0, 10px);
		min-width: 200px;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		z-index: 5;
	}
	._hover.menu__item .menu__sub-list {
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	._hover.menu__item .menu__arrow {
		transform: rotate(-180deg);
	}
	._hover .menu__arrow,
	._hover .menu__link {
		color: var(--color1);
	}
	.menu-footer {
		display: flex;
	}
	.menu-footer__column {
		flex: 0 1 33.333%;
	}
	.menu-footer__title {
		margin: 0px 0px 16px 0px;
	}
	.slider__content {
		min-width: 350px;
		position: absolute;
		right: 30px;
		bottom: 30px;
	}
	.slider__body {
		width: 710px;
	}
}

/* Large (--md2) */
@media (min-width: 992px) {
	[class*="__container"] {
	}
	.header__search {
		flex: 1 1 auto;
	}
	.search-form__icon {
		display: none;
	}
	.main-slider__container::before {
		content: "";
		background: #f9f1e7;
		position: absolute;
		top: 0;
		width: 100vw;
		right: 376px;
		height: 100%;
	}
	.main-slider__body {
		display: flex;
	}
	.content-main {
		padding: 40px;
		background: rgba(255, 255, 255, 0.72);
		backdrop-filter: blur(31px);
	}
	.main-slider__slider {
		padding: 0px 0px 0px 32px;
	}
	.slider__content {
		bottom: 40px;
		right: 40px;
	}
	.slider__body {
		width: 934px;
	}
	.header._scroll .header__body {
		min-height: 70px;
	}
}

/* Extra large (xl) */
@media (min-width: 1200px) {
	[class*="__container"] {
	}
	.content-main {
		padding: 60px;
	}
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
	[class*="__container"] {
	}
}

/* === SPECIAL === */

/* For mouse devices */
@media (any-hover: hover) {
	.menu__item:hover .menu__sub-list {
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	.menu__item:hover .menu__arrow {
		transform: rotate(-180deg);
		color: var(--color1);
	}
	.menu__item:hover .menu__link {
		color: var(--color1);
	}
	.actions-header__item_favorites:hover {
		color: var(--color1);
	}
	.cart-header__icon:hover {
		color: var(--color1);
	}
	.menu__sub-link:hover {
		text-decoration: underline;
	}
	.menu-footer__link:hover {
		color: var(--color1);
	}
	.subscribe__button:hover {
		background-color: #ee8e53;
	}
	.content-main__button:hover {
		background-color: #ee8e53;
	}
	.slider-arrow:hover {
		color: #fff;
		background: var(--color1);
	}
	.slider-arrow_white:hover {
		color: #fff;
		background: var(--color1);
	}
	.header._scroll .header__wrapper:hover {
		background-color: rgba(255, 255, 255, 0.9);
	}
	.btn_white:hover {
		background: var(--color1);
		color: #fff;
	}
	.actions {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(58, 58, 58, 0.74);
		z-index: 3;
	}
	.actions__link {
		color: #fff;
	}
	.actions__link:hover {
		color: var(--color1);
	}
	.item-product:hover .actions {
		opacity: 1;
		visibility: visible;
	}
}

@media (any-hover: none) {
	.actions {
		padding: 15px 0px 0px 0px;
	}
}
